// Right Sidebar
.rightNav {
  /* 22em is the width of the sidebars */
  //flex: 0 0 30em;
  // max-width: 37em;
  width:25.33%;
  float:left;
  min-height:1px;
  //flex-basis: 30em;
}
.rightNav{
   margin: 0 -25.33% 0 0;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   background:#DEDEDE /* #f2f2f2 */;
   position: relative;
   height: 100vh;
}
.rightNav.rOpen{
   margin: 0;
   position: fixed;
   right: 0;
}
.sidebar-heading{
  min-height: 76px;
  padding: 0 20px;
  font-weight: 300;
  background: #DEDEDE;
  border-bottom: 1px solid #ccc;
  .sidebar-top{
    @include displayFlex;
    @include flexJustifyContent (space-between);
    @include flexAlignItems (center);
    padding-top: 15px;
    padding-right: 10px;
  }
  .sidebar-title{
    font-size:18px;
    font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
    font-style:normal;
    font-weight:500;
    color:#424D5C;
  }
  .sidebar-bottom{
  }
  h5{
    font-size:18px;
    text-transform:uppercase;
    font-weight:500;
    margin:0;
    padding:0;
    flex: 2;
  }

}
.sidebar-body{
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto";
  padding-top: 76px;
  .sidebar-notification{
    border-bottom: 1px solid #d1caca;
    padding: 15px 20px;
    color: $sidebar_blue;
    .nTitle{
      font-weight:400;
      text-transform: uppercase;
    }
    .nDate{
      color: #777777;
    }
    .nLabel{
      font-size: 100%;
      display: inline-block;
      margin-right: 5px;
      font-weight: 300;
      color: #bbb;
    }
    .notification-content{
      p{
        margin: 0;
        padding: 0;
        &.buttons{
          margin-top: 10px;
        }
      }
    }
  }
  a{
    font-weight:400;
  }
}
.sidebar-notification.notification-urgent{
  background:#F2F2F2;
  .notification-content{
    border:none;
    padding-bottom:0;
  }
}
.notificationsOpen .sidebar-notification{
  .nTitle{
    text-transform: uppercase !important;
  }
  .notification-headline{
    p{
      margin: 0;
      padding: 0;
    }
  }
}
.btn-sidebar{
  background:none !important;
  border:none;
}
// 
#pageContent .row {
  margin-right: 15px;
  margin-left: 15px;
  width:93%;
}
.primary-content{
  padding:30px 0;
}
.secondary-content{
  margin-top:25px;
}
//
.sidebarOpen{
  margin-right: 40em;
}
.sidebarWrap{
  max-height: 100vh;
  overflow-y: scroll;
}
.sidebarHeaderWrap{
  position: fixed;
  top: 0;
  width: 100%;
}
.ifc-tabs{
  //margin-bottom: -1px;
  .nav-tabs{
    border-bottom: none;
  }
}
.notification-content {
    font-size: 14px;
    font-family:Roboto;
}
.ifc-tabs .nav-tabs>li.active>a, 
.ifc-tabs .nav-tabs>li.active>a:focus, 
.ifc-tabs.nav-tabs>li.active>a:hover{
  background: none !important;
}
.ifc-tabs .nav-tabs > li.active {
  border-bottom: 1px solid #666;
}
.ifc-tabs .nav-tabs > li > a {
  padding: 5px; 
  font-family: "Roboto";
  padding-right: 15px;
  font-size: 14px;
}