/* temporary css for testing */
#side-menu{
  position: fixed;
}
#navbar-menu-side{
  position: fixed;
  z-index: 30;
  width: $side-nav-width-minimized;
  //width: $side-nav-width-maximized; //remove
  .nav li{
    width: $side-nav-width-minimized - $side-nav-border-width;
    //width: $side-nav-width-maximized - $side-nav-border-width;
    //background: yellow;
    a{
      //text-indent: -9999px;
      display:flex;
      @include flexAlignItems (center);
      //background: red;
    }
    a i{
    }
    span{
     display: none;
     opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    }
    span.nav-label{
      width: 100%; //change
    }
  }
}
#navbar-menu-side:hover{
  width: $side-nav-width-maximized;
  .nav > li{
    width: $side-nav-width-maximized - $side-nav-border-width;
    span{
      display: inline-block;
      opacity: .999;
    }
  }
}
